.Contact_wrapper {
    padding:5% 10%;
    margin: 0 auto 0;
    position: relative;
    background-color: #e6e6e6;
}


.Contact_wrapper .Contact_contactContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Contact_wrapper .Contact_contactLeftContentCompany {
    color: #333;
}


.Contact_wrapper .Contact_contactLeftContentCompany .Contact_contactTitle div:last-child {
    margin-left: 120px;
}

.Contact_wrapper .Contact_contactLeftContentCompany .Contact_companyIntroduction {
    margin-left: 180px;
    font-family: Zen Kaku Gothic Antique;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: .01em;
    color: #333;
    width: auto;
    height:120px;
    margin-top: 70px;
}

.Contact_wrapper .Contact_contactLeftContentCompany .Contact_companyIntroduction p:first-child,.Contact_wrapper .Contact_contactLeftContentCompany .Contact_companyIntroduction p:last-child {
    animation-delay: .2s;
}

.Contact_wrapper .Contact_contactLeftContent {
    color: #f5f5f5;
}

.Contact_wrapper .Contact_contactLeftContent .Contact_contactTitle {
    font-family: Montserrat;
    font-size: 80px;
    line-height: 64px;
    letter-spacing: .01em;
    margin-bottom: 38px;
    color:#333;
}

.Contact_wrapper .Contact_contactLeftContent .Contact_contactTitle div:last-child {
    margin-left: 120px;
}

.Contact_wrapper .Contact_contactLeftContent .Contact_companyIntroduction {
    margin-left: 180px;
    font-family: Zen Kaku Gothic Antique;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: .01em;
    color: #333;
    width: auto;
    height: 80px;
    margin-top: 70px;
}

.Contact_wrapper .Contact_contactLeftContent .Contact_companyIntroduction p:first-child,.Contact_wrapper .Contact_contactLeftContent .Contact_companyIntroduction p:last-child {
    animation-delay: .2s;
}

.Contact_wrapper .Contact_contactCircleCompany {
    background: #545454;
    width: 278px;
    height: 278px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    display: inline-block;
    margin-bottom: 30px;
}

.Contact_wrapper .Contact_contactCircleCompany span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Montserrat;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: .01em;
    color: #333;
}

.Contact_wrapper .Contact_contactCircleCompany:hover {
    transform: scale(1.3);
}

.Contact_wrapper .Contact_contactCircle {
    background: #fff;
    width: 278px;
    height: 278px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    display: inline-block;
    margin-bottom: 30px;
}

.Contact_wrapper .Contact_contactCircle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Montserrat;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: .01em;
    color: #2d2c2c;
}

.Contact_wrapper .Contact_contactCircle:hover {
    transform: scale(1.3);
}

.Contact_wrapper .Contact_arrow__2IyRu {
    margin-left: -60%;
}

.Contact_wrapper .Contact_arrow__2IyRu .Contact_arrowImage {
    width: 204px;
    height: 32px;
}

@media screen and (max-width: 1200px) {
    .Contact_wrapper .Contact_contactLeftContentCompany .Contact_contactTitle {
        font-size:60px;
    }

    .Contact_wrapper .Contact_contactLeftContentCompany .Contact_companyIntroduction {
        margin-left: 60px;
        margin-top: 30px;
    }

    .Contact_wrapper .Contact_contactLeftContent .Contact_contactTitle {
        font-size: 60px;
    }

    .Contact_wrapper .Contact_contactLeftContent .Contact_companyIntroduction {
        margin-left: 60px;
        margin-top: 30px;
    }

    .Contact_wrapper .Contact_contactCircleCompany,.Contact_wrapper .Contact_contactCircle {
        width: 210px;
        height: 210px;
        margin-bottom: 60px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .Contact_wrapper {
        margin-top:0;
        padding-top:10%;
    }

    .Contact_wrapper .Contact_worldMap03 {
        display: none;
    }

    .Contact_wrapper .Contact_contactContent {
        flex-direction: column;
        text-align: center;
    }

    .Contact_wrapper .Contact_contactLeftContentCompany .Contact_contactTitle {
        font-size: 35px;
        line-height: 39px;
        margin-bottom: 38px;
        margin-left: -65px;
    }

    .Contact_wrapper .Contact_contactLeftContentCompany .Contact_companyIntroduction {
        font-size: 18px;
        line-height: 30px;
        height: 133px;
        text-align: left;
        margin-left: 0;
        margin-top: 0;
    }

    .Contact_wrapper .Contact_contactLeftContent .Contact_contactTitle {
        font-size: 35px;
        line-height: 39px;
        margin-left: -65px;
    }

    .Contact_wrapper .Contact_contactLeftContent .Contact_companyIntroduction {
        font-size: 18px;
        line-height: 30px;
        height: 115px;
        text-align: left;
        margin-left: 0;
        margin-top: 0;
    }

    .Contact_wrapper .Contact_contactCircleCompany {
        width: 119px;
        height: 119px;
        margin-left: 80%;
        margin-bottom: 0;
    }

    .Contact_wrapper .Contact_contactCircleCompany span {
        font-size: 18px;
    }

    .Contact_wrapper .Contact_contactCircle {
        width: 119px;
        height: 119px;
        margin:0 auto;
        
    }

    .Contact_wrapper .Contact_contactCircle span {
        font-size: 18px;
    }

    .Contact_wrapper .Contact_arrow {
        margin-left: -80%;
        margin-top: -20%;
    }

    .Contact_wrapper .Contact_arrow .Contact_arrowImage {
        width: 113px;
        height: 18px;
    }
}

@media screen and (max-width: 576px) {
    .Contact_wrapper .Contact_contactContent {
        margin-bottom:10px;
    }
}

@media screen and (max-width: 390px) {
    .Contact_wrapper .Contact_contactLeftContentCompany .Contact_contactTitle {
        font-size:28px;
    }

    .Contact_wrapper .Contact_contactLeftContentCompany .Contact_contactTitle div:last-child {
        margin-left: 90px;
    }

    .Contact_wrapper .Contact_contactLeftContentCompany .Contact_companyIntroduction {
        width: -moz-fit-content;
        width: fit-content;
        margin-top: -20px;
        font-size: 16px;
    }

    .Contact_wrapper .Contact_contactLeftContent .Contact_contactTitle {
        font-size: 28px;
    }

    .Contact_wrapper .Contact_contactLeftContent .Contact_contactTitle div:last-child {
        margin-left: 90px;
    }

    .Contact_wrapper .Contact_contactLeftContent .Contact_companyIntroduction {
        width: -moz-fit-content;
        width: fit-content;
        margin-top: -20px;
        font-size: 16px;
    }

    .Contact_wrapper .Contact_contactCircleCompany,.Contact_wrapper .Contact_contactCircle {
        margin:0 auto;
    }

    .Contact_wrapper .Contact_arrow__2IyRu {
        margin-left: -50%;
    }
}