.ServiceWeOffer_wrapper__tN43d {
    max-width: 1200px;
    width: 80vw;
    margin: 150px auto 0;
}
.Headline_headline__tn7LE {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: .01em;
    color: #cf0606;
    color: transparent;
    margin-bottom: 119px;
    position: relative;
}
.Headline_headline__tn7LE span {
    font-family: Zen Kaku Gothic Antique;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: .01em;
    position: absolute;
    top: 90%;
    left: 217px;
    animation-name: Headline_fadeUpAnimeSpan__7imle;
    animation-duration: 1.1s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    transform-origin: top left;
    opacity: 0;
}
.Headline_headline__tn7LE .Headline_mainHeadline__GKrWA {
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    animation-name: Headline_fadeUpAnime__Evk9H;
    animation-duration: 1.1s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    transform-origin: top left;
    position: relative;
}
.Headline_headline__tn7LE .Headline_mainHeadline__GKrWA:after {
    content: "";
    border-bottom: 1px solid #f5f5f5;
    width: 0;
    transition: all .6s;
}
.Headline_headline__tn7LE span {
    font-family: Zen Kaku Gothic Antique;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: .01em;
    position: absolute;
    top: 90%;
    left: 217px;
    animation-name: Headline_fadeUpAnimeSpan__7imle;
    animation-duration: 1.1s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    transform-origin: top left;
    opacity: 0;
}
.ServiceWeOffer_wrapper__tN43d .ServiceWeOffer_serviceWeOffers__eQUrZ {
    display: flex;
    gap: 30px;
}
.ServiceWeOffer_wrapper__tN43d .ServiceWeOffer_serviceWeOffers__eQUrZ .ServiceWeOffer_offerContent__q4vdh {
    background: url(/_next/static/media/serviceWeOffer01.966cf71b.png);
    width: 393.14px;
    padding: 24px 15px;
    text-align: center;
    -o-object-fit: cover;
    object-fit: cover;
    cursor: pointer;
    background-size: cover;
    font-family: Zen Kaku Gothic Antique;
    font-style: normal;
    line-height: 36px;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: .01em;
    color: #f5f5f5;
}
.ServiceWeOffer_wrapper__tN43d .ServiceWeOffer_serviceWeOffers__eQUrZ .ServiceWeOffer_offerContent__q4vdh p:first-child {
    margin-top: 30px;
    letter-spacing: .05em;
}
.ServiceWeOffer_wrapper__tN43d .ServiceWeOffer_serviceWeOffers__eQUrZ .ServiceWeOffer_offerContent__q4vdh .ServiceWeOffer_offerContentBox__iBCYe {
    background: hsla(0,0%,96%,.4);
    padding: 8px;
    animation-delay: .2s;
}
.ServiceWeOffer_wrapper__tN43d .ServiceWeOffer_serviceWeOffers__eQUrZ .ServiceWeOffer_offerContent__q4vdh .ServiceWeOffer_offerContentBox__iBCYe p {
    font-weight: 400;
    font-size: 20px;
    margin-top: 16px;
}
.ServiceWeOffer_wrapper__tN43d .ServiceWeOffer_serviceWeOffers__eQUrZ .ServiceWeOffer_offerContent__q4vdh .ServiceWeOffer_offerContentBox__iBCYe a {
    display: inline-block;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 22px;
    margin-top: 20px;
    color: #cf0606;
    padding-bottom: 4px;
    border-bottom: 2px solid;
}
.ServiceWeOffer_wrapper__tN43d .ServiceWeOffer_serviceWeOffers__eQUrZ #ServiceWeOffer_offerContent02__kLg_g {
    background: url(/_next/static/media/serviceWeOffer02.13c20efc.png);
    animation-delay: .2s;
    background-size: cover;
}
.ServiceWeOffer_wrapper__tN43d .ServiceWeOffer_serviceWeOffers__eQUrZ #ServiceWeOffer_offerContent03__vTnju {
    background: url(/_next/static/media/serviceWeOffer03.b66db426.png);
    animation-delay: .3s;
    background-size: cover;
}
.ServiceWeOffer_wrapper__tN43d .ServiceWeOffer_serviceWeOffers__eQUrZ .ServiceWeOffer_offerContent__q4vdh p:first-child {
    margin-top: 30px;
    letter-spacing: .05em;
}

@keyframes Headline_fadeUpAnimeSpan__7imle {
    0% {
        transform: translateY(10px) rotate(40deg) rotateX(150deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
        color: #f5f5f5;
        opacity: 1;
    }
}
@keyframes Headline_fadeUpAnime__Evk9H {
    0% {
        transform: translateY(10px) rotate(40deg) rotateX(150deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
        background: linear-gradient(90deg,#ed213a,#93291e 35.94%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}
@media screen and (max-width: 1200px){
.ServiceWeOffer_wrapper__tN43d {
    margin: 150px 10% 0;
}
}

@media screen and (max-width: 992px){
.ServiceWeOffer_wrapper__tN43d .ServiceWeOffer_serviceWeOffers__eQUrZ {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ServiceWeOffer_wrapper__tN43d .ServiceWeOffer_serviceWeOffers__eQUrZ .ServiceWeOffer_offerContent__q4vdh {
    width: 100%;
}
}
@media screen and (max-width: 768px){
.Headline_headline__tn7LE .Headline_mainHeadline__GKrWA {
    font-size: 24px;
}
.Headline_headline__tn7LE span {
    font-size: 14px;
    left: 140px;
}
.ServiceWeOffer_wrapper__tN43d .ServiceWeOffer_serviceWeOffers__eQUrZ .ServiceWeOffer_offerContent__q4vdh p:first-child {
    font-size: 24px;
    margin-top: 15px;
}
.ServiceWeOffer_wrapper__tN43d .ServiceWeOffer_serviceWeOffers__eQUrZ .ServiceWeOffer_offerContent__q4vdh p:nth-child(2) {
    margin: 22px 0;
}
.ServiceWeOffer_wrapper__tN43d .ServiceWeOffer_serviceWeOffers__eQUrZ .ServiceWeOffer_offerContent__q4vdh .ServiceWeOffer_offerContentBox__iBCYe p {
    font-size: 16px;
    line-height: 27px;
    margin-top: 5px;
}
.ServiceWeOffer_wrapper__tN43d .ServiceWeOffer_serviceWeOffers__eQUrZ .ServiceWeOffer_offerContent__q4vdh .ServiceWeOffer_offerContentBox__iBCYe a {
    margin-top: 20px;
    margin-bottom: 10px;
}
}
@media screen and (max-width: 576px){
.Headline_headline__tn7LE {
    margin-bottom: 19px;
}
.Headline_headline__tn7LE .Headline_mainHeadline__GKrWA {
    font-size: 20px;
}
.Headline_headline__tn7LE span {
    font-size: 12px;
    top: -25%;
    left: 0;
}
}