.Service_wrapper {
    padding: 0 10%;
    margin-top: 180px;
}

.Service_wrapper .Service_serviceTitle {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 60px;
    letter-spacing: .03em;
}

.Service_wrapper .Service_serviceTitle .Service_serviceHeadline {
    cursor: pointer;
    max-width: 300px;
    animation-name: Service_fadeUpAnime__3J3ZK;
    animation-duration: 1.1s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    transform-origin: top left;
}

.Service_wrapper .Service_serviceTitle div:after {
    content: "";
    border-bottom: 2px solid #db521f;
    width: 0;
    transition: all .6s;
}

.Service_wrapper .Service_serviceTitle div:hover:after {
    display: inline-block;
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 270px;
}

.Service_wrapper .Service_weMake {
    margin-top: 84px;
    height: 150px;
    will-change: transform;
}

.Service_wrapper .Service_scrollDown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.Service_wrapper .Service_scrollDown span {
    font-family: Montserrat;
    font-size: 24px;
    letter-spacing: .02em;
    color: #333;
    position: relative;
    top: -25px;
}

.Service_wrapper .Service_scrollDown:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 60px;
    background: #333;
    animation: Service_pathmove__8qmJr 1.4s ease-in-out infinite;
    opacity: 0;
}

.Service_wrapper .Service_circleWrapper {
    display: flex;
    margin-top:10vw;
    width:100%;
}

.Service_wrapper .Service_circleWrapper .Service_contentWrapper .Service_circleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    font-family: Zen Kaku Gothic Antique;
    color: #333;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: .05em;
    
    
}
.Service_wrapper .Service_circleWrapper .Service_contentWrapper .Service_circleContent .Service_serviceContentTitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
}

.Service_wrapper .Service_circleWrapper .Service_contentWrapper .Service_circleContent .Service_serviceContentName {
    white-space: nowrap;
    margin-top: -25px;
}

.Service_wrapper .Service_circleWrapper .Service_contentWrapper .Service_circleContent .Service_serviceContentNameOwnService {
    white-space: nowrap;
    margin-top: -58px;
}

.Service_wrapper .Service_circleWrapper .Service_contentWrapper .Service_circleContent .Service_circleLastContent {
    width: 60%;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: .05em;
    margin-bottom: -40px;
    padding:10px;
    border:3px solid #efefef;
    background-color:#efefef;
    height:150px;
    
}

.Service_wrapper .Service_circleWrapper .Service_contentWrapper:first-child {
    animation-delay: .1s;
    width:calc(100%/3);
}

.Service_wrapper .Service_circleWrapper .Service_contentWrapper:nth-child(2) {
    animation-delay: .2s;
    width:calc(100%/3);
}

.Service_wrapper .Service_circleWrapper .Service_contentWrapper:last-child {
    line-height:1.2rem;
    animation-delay: .3s;
    width:calc(100%/3);
}

.Service_wrapper .Service_serviceAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Zen Kaku Gothic Antique;
    font-size: 20px;
    letter-spacing: .07em;
    color: #333;
    position: relative;
    z-index: 1;
    margin-top:10vw;
}

.Service_wrapper .Service_serviceAbout div {
    animation-delay: .6s;
}

.Service_wrapper .Service_serviceAbout .Service_link {
    width: 95px;
    height: 95px;
    text-align: center;
    line-height: 88px;
    border-radius: 50%;
    border: .05em solid #db521f;
    margin-right: 22px;
    transition: all .3s;
    animation-delay: .6s;
}

.Service_wrapper .Service_serviceAbout .Service_link:hover {
    border: .05em solid #db521f;
}

.Service_wrapper .Service_serviceAbout .Service_link:hover .Service_arrow {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    position: relative;
    width: 2.7em;
    height: .05em;
    transform: rotate(-45deg);
    background: #db521f;
}

.Service_wrapper .Service_serviceAbout .Service_link:hover .Service_arrow:before {
    border: .05em solid #db521f;
    border-left: 0;
    border-bottom: 0;
}

.Service_wrapper .Service_serviceAbout .Service_arrow {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    position: relative;
    width: 2.7em;
    height: .06em;
    transform: rotate(-45deg);
    background: #db521f;
    transition: all .3s;
}

.Service_wrapper .Service_serviceAbout .Service_arrow:before {
    content: "";
    width: .75em;
    height: .75em;
    border: .05em solid #db521f;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    position: absolute;
    top: 50%;
    right: -.09em;
    box-sizing: border-box;
    transition: all .3s;
}

@keyframes Service_pathmove__8qmJr {
    0% {
        height: 0;
        top: 0;
        opacity: 0;
    }

    30% {
        height: 40px;
        opacity: 1;
    }

    to {
        height: 0;
        top: 60px;
        opacity: 0;
    }
}

@keyframes Service_business__rYwXF {
    0% {
        transform: rotate(0);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes Service_fadeUpAnime__3J3ZK {
    0% {
        transform: translateY(10px) rotate(40deg) rotateX(150deg);
    }

    to {
        transform: translateY(0) rotate(0deg);
        background: #db521f;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

@media screen and (max-width: 992px) {
    .Service_wrapper .Service_circleWrapper .Service_contentWrapper {
        margin-right:-1vw;
        margin:0 auto;
    }

    .Service_wrapper .Service_circleWrapper .Service_contentWrapper .Service_circleContent {
        justify-content: space-around;
    }

    .Service_wrapper .Service_circleWrapper .Service_contentWrapper .Service_circleContent .Service_serviceContentTitle {
        font-size: 14px;
    }

    .Service_wrapper .Service_circleWrapper .Service_contentWrapper .Service_circleContent .Service_serviceContentName {
        font-size: 20px;
        margin-top: -5px;
        line-height:1.3rem;
    }

    .Service_wrapper .Service_circleWrapper .Service_contentWrapper .Service_circleContent .Service_serviceContentNameOwnService {
        font-size: 20px;
        margin-top: -30px;
    }

    .Service_wrapper .Service_circleWrapper .Service_contentWrapper .Service_circleContent .Service_circleLastContent {
        font-size: 13px;
        margin-bottom: -10px;
    }
    .Service_wrapper .Service_serviceAbout{
        margin-top:10vw;
    }
}

@media screen and (max-width: 768px) {
    .Service_wrapper {
        padding:0 10%;
        margin-top: 130px;
    }

    .Service_wrapper .Service_serviceTitle {
        font-size: 38px;
    }

    .Service_wrapper .Service_circleWrapper {
        flex-direction: column;
    }

    .Service_wrapper .Service_circleWrapper .Service_contentWrapper .Service_circleContent {
        top: 47%;
    }

    .Service_wrapper .Service_circleWrapper .Service_contentWrapper .Service_circleContent .Service_serviceContentTitle {
        font-size: 18px;
    }

    .Service_wrapper .Service_circleWrapper .SService_contentWrapper .Service_circleContent .Service_serviceContentName {
        font-size: 25px;
    }

    .Service_wrapper .Service_circleWrapper .Service_contentWrapper .Service_circleContent .Service_circleLastContent {
        font-size: 13px;
        width:120%;
    }

    .Service_wrapper .Service_circleWrapper .Service_contentWrapper:nth-child(2),.Service_wrapper .Service_circleWrapper .Service_contentWrapper:nth-child(3) {
        margin-top: 30px;
    }

    .Service_wrapper .Service_serviceAbout {
        font-size: 17px;

    }

    .Service_wrapper .Service_serviceAbout .Service_link {
        width: 50px;
        height: 50px;
        line-height: 42px;
        
    }

    .Service_wrapper .Service_serviceAbout .Service_link:hover .Service_arrow {
        width: 2em;
    }

    .Service_wrapper .Service_serviceAbout .Service_arrow {
        width: 1.5em;
    }

    .Service_wrapper .Service_serviceAbout .Service_arrow:before {
        width: .5em;
        height: .5em;
        top: 45%;
        right: -.12em;
    }
}