.PositionModal_modalWrapper .PositionModal_modaSecondWrapper {
    position: relative;
    padding: 93px 100px;
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_closeButton {
    cursor: pointer;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 55px;
    top: 24px;
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_closeButton:before {
    transform: translate(-50%,-50%) rotate(45deg);
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_closeButton:after {
    transform: translate(-50%,-50%) rotate(-45deg);
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_closeButton:after, 
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_closeButton:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 30px;
    background: #2d2c2c;
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_positionTitle {
    font-family: Zen Kaku Gothic Antique;
    font-size: 32px;
    line-height: 61px;
    letter-spacing: 1.7px;
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_positionIntroWrapper {
    margin-top: 53px;
    display: flex;
    align-items: flex-start;
    gap: 46px;
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_positionIntroWrapper .PositionModal_positionIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_positionIntroWrapper .PositionModal_positionIntro p {
    font-family: Zen Kaku Gothic Antique;
    font-size: 18px;
    line-height: 39px;
    letter-spacing: 1.1px;
    color: #444;
    max-width: 744px;
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_positionDescriptionWrapper dl {
    font-family: Zen Kaku Gothic Antique;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: .01em;
    color: #444;
    display: flex;
    flex-wrap: wrap;
    width: 55vw;
    margin-top: 50px;
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_positionDescriptionWrapper dl dt {
    width: 25%;
    border-bottom: 1px solid #ccc;
    padding: 36px;
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_positionDescriptionWrapper dl dd {
    width: 75%;
    border-bottom: 1px solid #ccc;
    padding: 36px;
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_positionDescriptionWrapper dl .PositionModal_lastDt, 
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_positionDescriptionWrapper dl dd:last-child {
    border: none;
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_positionDescriptionWrapper dl dd ul li {
    line-height: 30px;
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_entryButtonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_entryButtonWrapper .PositionModal_entryButton {
    cursor: pointer;
    display: inline-block;
    margin-top: 130px;
    margin-bottom: 71px;
    background: #ce0606;
    padding: 26px 232px;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: .01em;
    color: #fff;
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_entryButtonWrapper a {
    cursor: pointer;
    font-family: Zen Kaku Gothic Antique;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: .75px;
    position: relative;
}
.PositionModal_modalWrapper .PositionModal_modaSecondWrapper .PositionModal_entryButtonWrapper a:after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 100px;
    background: #111;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translateX(-50%);
}
