.LetsEntry_wrapper__H_v_d {
    margin-top: 220px;
    padding: 0 13%;
}
.LetsEntry_wrapper__H_v_d .LetsEntry_LetsEntryWrapper__vZzSQ {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: .07em;
    color: #fff;
}
.LetsEntry_wrapper__H_v_d .LetsEntry_LetsEntryWrapper__vZzSQ h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 5.9vw;
    line-height: 36px;
    letter-spacing: .01em;
    color: #f5f5f5;
    max-width: 100%;
}
.LetsEntry_wrapper__H_v_d .LetsEntry_LetsEntryWrapper__vZzSQ .LetsEntry_circle__i700g {
    margin-bottom: 100px;
    display: inline-block;
    width: 140px;
    height: 140px;
    text-align: center;
    line-height: 130px;
    border-radius: 50%;
    border: 0.05em solid #ce0606;
    margin-right: 22px;
    transition: all .3s;
    z-index: 100;
}
.LetsEntry_wrapper__H_v_d .LetsEntry_LetsEntryWrapper__vZzSQ .LetsEntry_arrow__RJWn8 {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    position: relative;
    width: 3.7em;
    height: 0.06em;
    transform: rotate(-45deg);
    background: #fff;
    transition: all .3s;
}
.LetsEntry_wrapper__H_v_d .LetsEntry_LetsEntryWrapper__vZzSQ .LetsEntry_arrow__RJWn8:before {
    content: "";
    width: 0.75em;
    height: 0.75em;
    border: 0.05em solid #fff;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    position: absolute;
    top: 50%;
    right: -0.09em;
    box-sizing: border-box;
    transition: all .3s;
}
