.About_wrapper {
    padding: 100px 10% 0;
}

.About_wrapper .About_AboutTitle {
    margin-bottom: 130px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: .03em;
}

.About_wrapper .About_AboutTitle .About_AboutHeadline {
    display: inline-block;
    animation-name: About_fadeUpAnime__TNnMh;
    animation-duration: 1.1s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    transform-origin: top left;
}


.About_wrapper .About_AboutTitle div:hover:after {
    display: inline-block;
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 330px;
}

.About_wrapper .About_AboutWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-family: Zen Kaku Gothic Antique;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: .03em;
    color: #333;
}

.About_wrapper .About_AboutWrapper span {
    display: inline-block;
    margin-bottom: 40px;
}

.About_wrapper .About_AboutWrapper span:last-child {
    animation-delay: .2s;
}

.About_wrapper .About_AboutWrapper .About_AboutText {
    font-size: 22px;
    line-height: 40px;
}

.About_wrapper .About_AboutAbout {
    font-family: Zen Kaku Gothic Antique;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: .07em;
    color: #333;
}

.About_wrapper .About_AboutAbout div {
    animation-delay: .3s;
}

.About_wrapper .About_circle {
    display: inline-block;
    width: 95px;
    height: 95px;
    text-align: center;
    line-height: 88px;
    border-radius: 50%;
    border: .05em solid #db521f;
    margin-right: 22px;
    transition: all .3s;
    animation-delay: .3s;

}

.About_wrapper .About_circle:hover {
    border: .05em solid #db521f;
    
}

.About_wrapper .About_circle:hover .About_arrow {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    position: relative;
    width: 3.5em;
    height: .05em;
    transform: rotate(0deg);
    background: #db521f;
    
}

.About_wrapper .About_circle:hover .About_arrow:before {
    border: .05em solid #db521f;
    border-left: 0;
    border-bottom: 0;
    
}

.About_wrapper .About_arrow {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    position: relative;
    width: 2.7em;
    height: .06em;
    transform: rotate(-45deg);
    background: #db521f;
    transition: all .3s;
}
.About_wrapper .About_arrow:hover {
    width:2.7em;
}
.About_wrapper .About_arrow:before {
    content: "";
    width: .75em;
    height: .75em;
    border: .05em solid #db521f;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    position: absolute;
    top: 50%;
    right: -.09em;
    box-sizing: border-box;
    transition: all .3s;
}

@keyframes About_fadeUpAnime__TNnMh {
    0% {
        transform: translateX(10px) rotate(40deg) rotateY(150deg);
    }

    to {
        transform: translateY(0) rotate(0deg);
        background:#db521f;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

@media screen and (max-width: 768px) {
    .About_wrapper .About_AboutWrapper {
        max-width:100%;
        text-align: center;
        margin-left: 0;
        font-size: 16px;
        line-height: 28px;
        width: 100%;
    }

    .About_wrapper .About_AboutWrapper .About_AboutText {
        text-align: left;
        font-size: 18px;
        line-height: 30px;
    }

    .About_wrapper .About_AboutWrapper span {
        margin-bottom: 35px;
    }

    .About_wrapper .About_AboutTitle {
        font-size: 38px;
        margin-bottom: 90px;
    }

    .About_wrapper .About_AboutAbout {
        margin-top: 70px;
        font-size: 17px;
    }

    .About_wrapper .About_circle {
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 42px;
    }

    .About_wrapper .About_circle:hover .About_arrow {
        width: 2em;
    }

    .About_wrapper .About_arrow {
        width: 1.5em;
    }

    .About_wrapper .About_arrow:before {
        width: .5em;
        height: .5em;
        top: 45%;
        right: -.12em;
    }
}
