.Company_wrapper {
    padding: 100px 10% 0;
}

.Company_wrapper .Company_companyTitle {
    margin-bottom: 130px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: .03em;
}

.Company_wrapper .Company_companyTitle .Company_companyHeadline {
    cursor: pointer;
    display: inline-block;
    animation-name: Company_fadeUpAnime__TNnMh;
    animation-duration: 1.1s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    transform-origin: top left;
}

.Company_wrapper .Company_companyTitle div:after {
    content: "";
    border-bottom: 2px solid #ed213a;
    width: 0;
    transition: all .6s;
}

.Company_wrapper .Company_companyTitle div:hover:after {
    display: inline-block;
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 330px;
}

.Company_wrapper .Company_companyWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-family: Zen Kaku Gothic Antique;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: .03em;
    color: #333;
}

.Company_wrapper .Company_companyWrapper span {
    display: inline-block;
    margin-bottom: 40px;
}

.Company_wrapper .Company_companyWrapper span:last-child {
    animation-delay: .2s;
}

.Company_wrapper .Company_companyWrapper .Company_companyText {
    font-size: 22px;
    line-height: 40px;
}

.Company_wrapper .Company_companyAbout {
    font-family: Zen Kaku Gothic Antique;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: .07em;
    color: #333;
}

.Company_wrapper .Company_companyAbout div {
    animation-delay: .3s;
}

.Company_wrapper .Company_circle {
    display: inline-block;
    width: 95px;
    height: 95px;
    text-align: center;
    line-height: 88px;
    border-radius: 50%;
    border: .05em solid #db521f;
    margin-right: 22px;
    transition: all .3s;
    animation-delay: .3s;

}

.Company_wrapper .Company_circle:hover {
    border: .05em solid #db521f;
    
}

.Company_wrapper .Company_circle:hover .Company_arrow {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    position: relative;
    width: 2.7em;
    height: .05em;
    transform: rotate(-45deg);
    background: #db521f;
    
}

.Company_wrapper .Company_circle:hover .Company_arrow:before {
    border: .05em solid #db521f;
    border-left: 0;
    border-bottom: 0;
    
}

.Company_wrapper .Company_arrow {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    position: relative;
    width: 2.7em;
    height: .06em;
    transform: rotate(-45deg);
    background: #db521f;
    transition: all .3s;
}

.Company_wrapper .Company_arrow:before {
    content: "";
    width: .75em;
    height: .75em;
    border: .05em solid #db521f;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    position: absolute;
    top: 50%;
    right: -.09em;
    box-sizing: border-box;
    transition: all .3s;
}

@keyframes Company_fadeUpAnime__TNnMh {
    0% {
        transform: translateY(10px) rotate(40deg) rotateX(150deg);
    }

    to {
        transform: translateY(0) rotate(0deg);
        background:#db521f;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

@media screen and (max-width: 768px) {
    .Company_wrapper .Company_companyWrapper {
        max-width:100%;
        text-align: center;
        margin-left: 0;
        font-size: 16px;
        line-height: 28px;
        width: 100%;
    }

    .Company_wrapper .Company_companyWrapper .Company_companyText {
        text-align: left;
        font-size: 18px;
        line-height: 30px;
    }

    .Company_wrapper .Company_companyWrapper span {
        margin-bottom: 35px;
    }

    .Company_wrapper .Company_companyTitle {
        font-size: 38px;
        margin-bottom: 90px;
    }

    .Company_wrapper .Company_companyAbout {
        margin-top: 70px;
        font-size: 17px;
    }

    .Company_wrapper .Company_circle {
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 42px;
    }

    .Company_wrapper .Company_circle:hover .Company_arrow {
        width: 2em;
    }

    .Company_wrapper .Company_arrow {
        width: 1.5em;
    }

    .Company_wrapper .Company_arrow:before {
        width: .5em;
        height: .5em;
        top: 45%;
        right: -.12em;
    }
}
